body {
  color: #424456;
  font-family: -apple-system, system-ui, sans-serif;
  font-size: 120%;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 2em;
}

a {
  color: #3273dc;
}

code {
  font-family: Menlo, monospace;
  font-size: 80%;
  background-color: #f4f5f6;
  padding: 0.2em 0.4em;
}

pre > code {
  background-color: #f4f5f6;
  border-left: 0.3em solid #3273dc;
  display: block;
  overflow-x: scroll;
  padding: 1em;
}
