body {
  font-family: -apple-system, system-ui, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 45em;
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 2em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

a {
  color: #26f;
}

code {
  font-family: Menlo, monospace;
  font-size: 80%;
  background-color: #f4f5f6;
  padding: 0.2em 0.4em;
}

pre > code {
  background-color: #f4f5f6;
  border-left: 0.3em solid #26f;
  display: block;
  overflow-x: scroll;
  padding: 1em;
}
